{% extends 'client/template.html' %}
{% load i18n %}

{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>{% trans "购物车" %}</h3>
                        <ul>
                            <li><a href="{% url 'client:index' %}">{% trans "首页" %}</a></li>
                            <li>></li>
                            <li>{% trans "购物车" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!--shopping cart area start -->
    <div class="shopping_cart_area">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="cart_page table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product_remove">{% trans "删除" %}</th>
                                        <th class="product_thumb">{% trans "图片" %}</th>
                                        <th class="product_name">{% trans "品名" %}</th>
                                        <th class="product-price">{% trans "价格" %}</th>
                                        <th class="product_quantity">{% trans "数量" %}</th>
                                        <th class="product_total">{% trans "总价" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in cart %}
                                        <tr>
                                            <td class="product_remove"><a class="remove_cart"
                                                                          data-variant="{{ item.variant.id }}"><i
                                                    class="fa fa-trash-o"></i></a></td>
                                            <td class="product_thumb"><a
                                                    href="{% url 'client:product' product_id=item.product.id %}"><img
                                                    src="{{ item.image.url }}" alt=""></a></td>
                                            <td class="product_name"><a
                                                    href="{% url 'client:product' product_id=item.product.id %}">{{ item.name }}</a>
                                            </td>
                                            <td class="product-price">{{ currency_symbol }}{{ item.price }}</td>
                                            <td class="product_quantity"><label>{% trans "数量" %}</label>
                                                <input min="0" max="100" value="{{ item.quantity }}" type="number"
                                                       data-variant="{{ item.variant.id }}"></td>
                                            <td class="product_total">{{ currency_symbol }}{{ item.total }}</td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="6">{% trans "暂无商品，快去选购吧！" %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if cart %}
                                <div class="cart_submit">
                                    <button id="update_cart" type="button">{% trans "更新购物车" %}</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--coupon code area start-->
                <div class="coupon_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code left">
                                <h3>{% trans "优惠券" %}</h3>
                                <div class="coupon_inner">
                                    <p>{% trans "如果你有优惠码请在这里填写" %}</p>
                                    <input placeholder="{% trans '优惠码' %}" type="text" id="coupon_input">
                                    <button class="btn" type="button">{% trans "验证优惠码" %}</button>
                                </div>
                            </div>
                        </div>
                        {% if cart %}
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code right">
                                    <h3>{% trans "购物车小结" %}</h3>
                                    <div class="coupon_inner">
                                        <div class="cart_subtotal">
                                            <p>{% trans "小计" %}</p>
                                            <p class="cart_amount">{{ currency_symbol }}{{ cart_subtotal }}</p>
                                        </div>
                                        <div class="checkout_btn">
                                            <a href="#" id="checkout_button">{% trans "前往结算" %}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!--coupon code area end-->
            </form>
        </div>
    </div>
    <!--shopping cart area end -->
{% endblock %}

{% block js %}
    <script>
        $('#update_cart').click(function () {
            let inputs = $('input[data-variant]');
            let data = [];
            inputs.each(function () {
                let variant = $(this).data('variant');
                let quantity = $(this).val();
                if (variant && quantity) {
                    data.push({
                        id: variant,
                        quantity: quantity
                    })
                }
            });
            //console.log(data);
            $.ajax({
                url: '{% url 'kern:cart' %}',
                method: 'push',
                data: {
                    "items": JSON.stringify(data),
                    "mode": "full_update"
                },
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (data) {
                    notyf.success(data.msg);
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000)
                }
            })
        });
        $('#checkout_button').click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: '{% trans "正在提交订单" %}',
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading()
                },
            })
            let inputs = $('input[data-variant]');
            let items = [];
            inputs.each(function () {
                let variant = $(this).data('variant');
                let quantity = $(this).val();
                if (variant && quantity) {
                    items.push({
                        id: variant,
                        quantity: quantity
                    })
                }
            });

            if (items.length === 0) {
                notyf.error("{% trans '购物车为空，无法提交订单' %}");
                $(this).attr('disabled', false);
                return;
            }

            let coupon = $('#coupon_input').val();
            let p_data = {
                "items": items,
                "coupon": coupon
            };
            console.log(JSON.stringify(p_data));
            $.ajax({
                url: '{% url 'kern:checkout' %}',
                method: 'post',
                data: JSON.stringify(p_data),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (data) {
                    let id = data.id;
                    Swal.close();
                    window.location.href = '{% url 'client:checkout' %}' + '?id=' + id;
                },
                error: function (data) {
                    Swal.close();
                    if (data.status === 400) {
                        console.log(data.responseJSON.msg);
                        {#notyf.error(data.responseJSON.msg);#}
                        notyf.error('{% trans "发生错误，请联系管理员或稍后重试" %}')
                    } else {
                        notyf.error('{% trans "未知错误，请联系管理员" %}')
                        console.log(data)
                    }
                }
            })
        })
    </script>
{% endblock %}
