{% extends "client/template.html" %}
{% load i18n %}

{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>{% trans "我的账户" %}</h3>
                        <ul>
                            <li><a href="index.html">{% trans "首页" %}</a></li>
                            <li>></li>
                            <li>{% trans "我的账户" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- my account start  -->
    <section class="main_content_area">
        <div class="container">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button">
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li><a href="#info" data-bs-toggle="tab"
                                       class="nav-link active text-white">{% trans "信息" %}</a></li>
                                <li><a href="#orders" data-bs-toggle="tab"
                                       class="nav-link text-white">{% trans "订单" %}</a></li>
                                {# <li><a href="#downloads" data-bs-toggle="tab" class="nav-link">Downloads</a></li>#}
                                <li><a href="{% url 'client:logout' %}" class="nav-link">{% trans "登出" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="tab-pane fade show active" id="info">
                                <h3 class="card-title mb-4">{% trans "用户信息" %}</h3>

                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="card-title">{% trans "我的邀请码" %}</h5>
                                                <div class="input-group mb-3">
                                                    <input class="form-control" type="text" id="invitation_url"
                                                           readonly="readonly" value="{{ invitation_url }}">
                                                    <button class="btn btn-outline-secondary" type="button"
                                                            id="button-copy">
                                                        <i class="fa-regular fa-copy"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="orders">
                                <h3>{% trans "订单" %}</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        {# todo: 更换为datatable #}
                                        <thead>
                                        <tr>
                                            <th>{% trans "单号" %}</th>
                                            <th>{% trans "日期" %}</th>
                                            <th>{% trans "状态" %}</th>
                                            <th>{% trans "概要" %}</th>
                                            <th>{% trans "操作" %}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td>#{{ order.short_id|upper }}</td>
                                                <td>{{ order.date }}</td>
                                                <td>{{ order.get_status_display }}</td>
                                                <td>{{ order.quantity }}{% trans "件物品" %},
                                                    {{ currency_symbol }}{{ order.total }}</td>
                                                <td><a href="{% url 'client:order' order.id %}"
                                                       class="view">{% trans "查看" %}</a></td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="5"
                                                    class="text-center">{% trans "暂无订单，快去选购吧！" %}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        // Copy the invitation url to clipboard when click the copy button
        $("#button-copy").click(function () {
            $("#invitation_url").select();
            document.execCommand("copy");
            notyf.success("{% trans '复制成功' %}")
        });
    </script>
{% endblock %}