{% extends "client/template.html" %}
{% load i18n %}

{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <h3>{% trans "我的账户" %}</h3>
                        <ul>
                            <li><a href="index.html">{% trans "首页" %}</a></li>
                            <li>></li>
                            <li>{% trans "我的账户" %}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->

    <!-- my account start  -->
    <section class="main_content_area">
        <div class="container">
            <div class="account_dashboard">
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <!-- Nav tabs -->
                        <div class="dashboard_tab_button">
                            <ul role="tablist" class="nav flex-column dashboard-list">
                                <li><a href="#info" data-bs-toggle="tab"
                                       class="nav-link active text-white">{% trans "信息" %}</a></li>
                                <li><a href="#orders" data-bs-toggle="tab"
                                       class="nav-link text-white">{% trans "订单" %}</a></li>
                                {# <li><a href="#downloads" data-bs-toggle="tab" class="nav-link">Downloads</a></li>#}
                                <li><a href="{% url 'client:logout' %}" class="nav-link">{% trans "登出" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="tab-pane fade show active" id="info">
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row mb-2">
                                                    <div class="col mt-0">
                                                        <h5 class="card-title">{% trans "钱包" %}</h5>
                                                    </div>

                                                    <div class="col-auto">
                                                        <i class="fa-solid fa-wallet"></i>
                                                    </div>
                                                </div>
                                                <div>
                                                    <span class="mt-1 mb-3 h1">{{ wallet.available_balance }}</span>
                                                    USDT<small class="ps-1">TRC20</small>
                                                </div>
                                                {% if wallet.is_withdrawable %}
                                                    <div class="d-block float-end">
                                                        <a id="withdraw-request"
                                                           class="text-decoration-none text-success">
                                                            <i class="fa-solid fa-check"></i> {% trans "申请提现" %}
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="d-block float-end text-danger">
                                                        <i class="fa-solid fa-xmark"></i> {% trans "未达到提现标准" %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">{% trans "绑定资金" %}: {{ wallet.bind_balance }}</li>
                                                <li class="list-group-item">{% trans "冻结资金" %}: {{ wallet.frozen_balance }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% if not point.exchanged %}
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="row mb-2">
                                                        <div class="col mt-0">
                                                            <h5 class="card-title">{% trans "积分" %}</h5>
                                                        </div>

                                                        <div class="col-auto">
                                                            <i class="fa-solid fa-coins"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="mt-1 mb-3 h1">{{ point.point }}</span>
                                                    </div>
                                                    {% if point.cashable_amount != 0 %}
                                                        <div class="d-block float-end">
                                                            <a id="point-exchange-request"
                                                               data-cashable-amount="{{ point.cashable_amount }}"
                                                               class="text-decoration-none text-success">
                                                                <i class="fa-solid fa-check"></i> {% trans "申请兑换" %}
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                        <div class="d-block float-end text-danger">
                                                            <i class="fa-solid fa-xmark"></i> {% trans "未达到兑换标准" %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item">{% trans "冻结积分" %}: {{ point.frozen_point }}</li>
                                                    <li class="list-group-item">
                                                        {% trans "可兑金额" %}: {{ point.cashable_amount }} USDT <small>TRC20</small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <h3 class="card-title mb-4">{% trans "用户信息" %}</h3>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <h5 class="card-title">{% trans "我的邀请码" %}</h5>
                                                        <label for="invitation_url" class="visually-hidden"></label>
                                                        <div class="input-group mb-3">
                                                            <input class="form-control" type="text" id="invitation_url"
                                                                   readonly="readonly" value="{{ invitation_url }}">
                                                            <button class="btn btn-outline-secondary" type="button"
                                                                    id="button-copy">
                                                                <i class="fa-regular fa-copy"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="card-title my-4">{% trans "管理" %}</h3>
                                <div class="row">
                                    <div class="col-md-6 my-3">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="card-title">{% trans "修改密码" %}</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <form id="reset-pswd-form">
                                                        <div class="col-12 mb-3">
                                                            <label class="form-label" for="old_password">
                                                                {% translate '旧密码' %}<span
                                                                    style="color: red">*</span>
                                                            </label>
                                                            <input type="password" name="old_password" id="old_password"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <label class="form-label" for="new_password">
                                                                {% translate '新密码' %}<span
                                                                    style="color: red">*</span>
                                                            </label>
                                                            <input type="password" name="new_password" id="new_password"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <label class="form-label" for="re_password">
                                                                {% translate '重新输入密码' %}<span
                                                                    style="color: red">*</span>
                                                            </label>
                                                            <input type="password" name="re_password" id="re_password"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="col-12 mb-3">
                                                            <button type="submit" class="btn btn-primary w-100">
                                                                {% translate '提交' %}
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders">
                            <h3>{% trans "订单" %}</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    {# todo: 更换为datatable #}
                                    <thead>
                                    <tr>
                                        <th>{% trans "单号" %}</th>
                                        <th>{% trans "日期" %}</th>
                                        <th>{% trans "状态" %}</th>
                                        <th>{% trans "概要" %}</th>
                                        <th>{% trans "操作" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>#{{ order.short_id|upper }}</td>
                                            <td>{{ order.date }}</td>
                                            <td>{{ order.get_status_display }}</td>
                                            <td>{{ order.quantity }}{% trans "件物品" %},
                                                {{ currency_symbol }}{{ order.total }}</td>
                                            <td><a href="{% url 'client:order' order.id %}"
                                                   class="view">{% trans "查看" %}</a></td>
                                        </tr>
                                    {% empty %}
                                        <tr>
                                            <td colspan="5"
                                                class="text-center">{% trans "暂无订单，快去选购吧！" %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        $("#button-copy").click(function () {
            $("#invitation_url").select();
            document.execCommand("copy");
            notyf.success("{% trans '复制成功' %}")
        });

        $("#reset-pswd-form").submit(function (e) {
            e.preventDefault();
            let old_password = $("#old_password").val();
            let new_password = $("#new_password").val();
            let re_password = $("#re_password").val();
            let csrf_token = "{{ csrf_token }}";

            console.log(old_password, new_password, re_password)

            if (new_password === old_password) {
                notyf.error("{% translate '新密码不能与旧密码相同' %}")
                return false
            }

            if (new_password !== re_password) {
                notyf.error("{% trans '两次输入的密不同' %}")
                return false
            }

            let url = "{% url 'kern:reset_password' %}";
            $.ajax({
                url: url,
                type: "POST",
                headers: {
                    "X-CSRFToken": csrf_token
                },
                data: {
                    "old_password": old_password,
                    "new_password": new_password
                },
                success: function (res, status, xhr) {
                    if (xhr.status === 200) {
                        notyf.success(res.msg);
                        setTimeout(function () {
                            window.location.reload()
                        }, 1000)
                    } else {
                        notyf.error(res.msg)
                    }
                },
                error: function (res) {
                    notyf.error(res.responseJSON.msg)
                }
            })
        })

        $("#point-exchange-request").click(function (e) {
            e.preventDefault();
            let cashable_amount = $(this).data("cashable-amount")
            Swal.fire({
                title: "{% trans '积分兑换' %}",
                html: {% blocktranslate %}"<p>您总共可兑换为<strong>" + cashable_amount
                    + " USDT</strong></p><p>兑换后的资金将会转入您的绑定资金，是否确认兑换？</p>"{% endblocktranslate %},
                confirmButtonText: '{% trans "提交" %}',
                showCancelButton: true,
                cancelButtonText: '{% trans "取消" %}',
                focusConfirm: false,
            }).then((result) => {
                Swal.close();
                if (result.isConfirmed) {
                    Swal.fire({
                        title: '{% trans "正在提交" %}',
                        html: '{% trans "请稍等" %}',
                        allowOutsideClick: false,
                        didOpen: () => {
                            Swal.showLoading()
                        }
                    });
                    $.ajax({
                        url: "{% url 'kern:point_exchange' %}",
                        type: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}"
                        },
                        data: {
                            "amount": cashable_amount
                        },
                        success: function (data) {
                            Swal.close();
                            console.log(data);
                            notyf.success(data["msg"]);
                            setTimeout(function () {
                                window.location.reload();
                            }, 1500);
                        },
                        error: function (data) {
                            Swal.close();
                            console.log(data);
                            notyf.error(data.responseJSON["msg"]);
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}